.aa{
    background-color: aqua;
}
body{
    background-image: url('./images/bat.png');
    background-repeat: no-repeat;
    background-size: 678px;
      /* background-position-x: -789px; */
      background-position-y: 345px;
}